nav u li a{

    
    margin: 0 px;
    display:flex;
    padding: 9px;
    margin-block: 5px;
    padding-bottom: 0%;


}


section nav u li {
margin: 0 px;
display:inline-block;


    
}



nav ul li {
margin: 40px;
font-size: 100;
padding: 0;
display: inline-block;
}

main section div section{
     margin-top: 0; 
     display: inline-block; 

}
 main section div a{

    margin-top: 20;
    margin-top: 20;
}
 main section div {
margin-top: 0%;
display: inline-block;

} 

header article div{
    margin: 20 px;
    margin-left: 30 px;

    display: inline-block;
}

footer{

    display: block;
    background-color:gray;
    color: gray;
}
h5{
    font: size 25px;
    text-align: center;
}

header{
    
background-color: gray; width: 1020px;
display: flex;
    margin-bottom: 20px;
}